/* color palette from <https://github.com/vuejs/theme> */
:root {
    --color-text: hsl(0, 0%, 100%);
    --color-background: hsl(0, 0%, 27%);
    --color-background-transparent: hsl(0, 0%, 100%, 20%);
    --color-theme: hsl(343, 100%, 41%);

    --border-radius: 5px;

    --backdrop-glass: blur(15px);

    --size-icon: 32px;

    --spacing: 20px;

    --transition-default: all .5s;
}

body {
    color: var(--color-text);
    background: var(--color-background) url('pexels-quintin-gellar-313782.jpg') 50% no-repeat;
    background-size: cover;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.content {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.mobile-menu {
    align-items: center;
    background: var(--color-background-transparent);
    backdrop-filter: var(--backdrop-glass);
    border-radius: 5px;
    column-gap: calc(var(--spacing) * 2);
    display: flex;
    justify-content: space-between;
    padding: calc(var(--spacing) / 2);
    position: relative;

    &__item {
        background: none;
        border: none;
        color: inherit;
        cursor: pointer;
        font-size: inherit;
        letter-spacing: inherit;
        padding: calc(var(--spacing) / 2);
        position: relative;

        &--active {
            .mobile-menu__item-icon {
                transform: translateY(-90%);
            }
            .mobile-menu__item-label {
                opacity: 1;
                transform: translateY(-70%);
            }
        }
    }

    &__item-icon {
        height: var(--size-icon);
        transition: var(--transition-default);
        width: var(--size-icon);
    }
    &__item-label {
        bottom: 0;
        display: flex;
        justify-content: center;
        left: 0;
        opacity: 0;
        position: absolute;
        transition: var(--transition-default);
        width: 100%;
    }

    &__indicator {
        background: var(--color-theme);
        border-radius: 50%;
        display: block;
        content: '';
        height: calc(var(--size-icon) + var(--spacing));
        left: calc(var(--spacing) / 2);
        opacity: 0;
        position: absolute;
        transition: var(--transition-default);
        width: calc(var(--size-icon) + var(--spacing));
    }

    &--show-indicator {
        .mobile-menu__indicator {
            opacity: 1;
            transform: translateY(-55%);
        }
    }
}

.credits {
    background: var(--color-background-transparent);
    backdrop-filter: var(--backdrop-glass);
    border-top-left-radius: var(--spacing);
    bottom: 0;
    padding: calc(var(--spacing) / 2) var(--spacing);
    position: absolute;
    right: 0;
    
    a {
        color: inherit !important;
    }
}